.wake-me-up {
  	margin: 0;
}
.when-september-ends {
  	margin: 0;
  	color: #3c3c3c;
}
.wake-me-up-container1 {
  	width: 100%;
}
.wake-me-up-container {
  	position: absolute;
  	top: calc(50% - 117px);
  	left: calc(50% - 126.5px);
  	line-height: 150%;
  	display: flex;
  	align-items: center;
  	width: 263px;
  	height: 134px;
}
.group-child {
  	position: absolute;
  	top: 11px;
  	left: calc(50% - 126px);
  	background-color: #ececec;
  	width: 264px;
  	height: 2px;
}
.component-2-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 24px;
  	height: 24px;
  	object-fit: contain;
}
.shine-stroke-icon {
  	position: absolute;
  	top: -3.7px;
  	left: -15.07px;
  	width: 33.6px;
  	height: 31px;
  	object-fit: contain;
}
.wake-me-up {
  	margin: 0;
}
.when-september-ends {
  	margin: 0;
  	color: #3c3c3c;
}
.wake-me-up-container1 {
  	width: 100%;
}
.wake-me-up-container {
  	position: absolute;
  	top: calc(50% - 117px);
  	left: calc(50% - 126.5px);
  	line-height: 150%;
  	display: flex;
  	align-items: center;
  	width: 263px;
  	height: 134px;
}
.diamond-1-icon {
  	position: absolute;
  	top: 644px;
  	left: 117px;
  	width: 276px;
  	height: 24px;
  	object-fit: cover;
}
.iphone-14-15-pro-3 {
  	width: 100%;
  	position: relative;
  	background-color: #fff;
  	height: 852px;
  	overflow: hidden;
  	text-align: left;
  	font-size: 30px;
  	color: #de2438;
  	font-family: 'Gill Sans MT';
}

